.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}

.tw-followCard-text{
    display: block;
}

.tw-followCard-button.tw-followCard-button.isFollowing:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-button.isFollowing{
    background-color: unset;
    border: 1px white solid;
    color: white;
    width: 140px;
}

.tw-followCard-button.isFollowing:hover{
    background-color: rgba(151, 27, 27, 0.342);
    transition: .3s ease all;
    border: 1px rgb(255, 0, 0) solid;
    color: red;
}

.tw-followCard-button:hover{
    background-color: rgb(124, 160, 184);
    transition: .3s ease background-color;
}

.tw-followCard-stopFollow{
    display: none;
}

.tw-followCard-button.tw-followCard-button.isFollowing:hover .tw-followCard-stopFollow{
    display: block;
}